$default-font-color: black;
$background-color: rgb(182, 226, 219);
$container-bgcolor: rgb(239, 242, 245);
$container-bordercolor: black;
$textbox-bordercolor: lightgray;
$button-textcolor: white;
$button-hovercolor: black;
$add-button-color: rgb(12, 131, 75);
$clear-button-color: rgb(149, 60, 40);

@mixin mq($size) {
  @media only screen and (min-width: $size){
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: $default-font-color;
  width: 100%;
  min-height: 100%;
  @include mq(768px){
    font-size: 22px;
  }
}

body {
  padding: 20px;
  background-color: $background-color;
}

section {
  background-color: $container-bgcolor;
  width: 90%;
  max-width: 700px;
  margin: auto;
  border: 1px solid $container-bordercolor;
  border-radius: 10px;
}